
/*-----------регистрания-------------------*/

.red {
	color: red;
	margin: 20px 5px 20px 5px; 
}

.reg_form {
	width: 250px;
	float: left;
}

.clear {
	clear: both;
}

#reg_form {
	font-size: 18px;
	width: 500px;
	padding: 10px;
	border: 2px solid #000;
	margin: auto;
}

#reg_form input, #reg_form  select{
	font-size: 16px;
	padding: 5px;
	margin-top: 10px;
}

#reg_form input[name="kapcha"] {
	margin-top: 5px;
}
	
#reg_form  select{
	width: 240px;
	cursor: pointer;
}

#reg_form input{
	width: 230px;
}

#kapcha {
	margin-top: 10px;
	width: 240px;
	height: 30px;
	border: 1px solid #000;
}

.radio {
	width: 20px !important;
	margin: 19px 0px 10px 5px !important;
	cursor: pointer;
}

#reg_form input[type="submit"] {
	padding: 5px;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
    background: transparent url("menu.png") repeat-x scroll 0% 0%;
	border: none;
}

#reg_form input[type="submit"]:hover {
	background:url(menu.png) repeat-x   0 -37px;
}

.error {
	box-shadow: 0 0 1px 1px red;
}


/*-----------регистрания-------------------*/

/*-----------Форма вывода-------------------*/
#form_out{
	text-align: center;
	font-size: 14px;
	margin: 10px 10px 30px 10px;
}

#form_out hr {
	margin-bottom: 40px;
}

#form_out table{
    text-align: left;
	margin: auto;
}

#form_out table img{
	cursor: pointer;
}

#form_out th {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

#form_out th, #form_out td {
	border-left: 1px solid #000;
	padding: 10px;
}

#form_out tr > td:last-child, #form_out tr > th:last-child{
	border-right: 1px solid #000;
}

#form_out tr:last-child td {
	border-bottom: 1px solid #000;
}

#form_out tr:nth-child(2n) td {
	background-color: #E8E8E8;
}

#form_out th{
	background-color: #B5B5B5;
}


.button {
	margin: 30px 10px 10px 10px;
	background-color: #CFCFCF;
	padding: 5px;
	color: #000;
	border-radius: 6px;
	border: 2px solid #000;
	cursor: pointer;
	text-decoration: none;
}

.button:hover {
	border-radius: 12px;
}

#kol_uch {
	margin-left: 200px;
}

.edit_list form {
	border: none !important;
}

/*-----------Форма вывода-------------------*/


#edit_form input[name="edit_pole_1"] {
	width: 30px;
}
#edit_form input[name="edit_pole_2"] {
	width: 100px;
}
#edit_form input[name="edit_pole_3"] {
	width: 60px;
}
#edit_form input[name="edit_pole_4"] {
	width: 60px;
}
#edit_form input[name="edit_pole_5"] {
	width: 30px;
}
#edit_form input[name="edit_pole_6"] {
	width: 60px;
}
#edit_form input[name="edit_pole_7"] {
	width: 30px;
}
#edit_form input[name="edit_pole_8"] {
	width: 30px;
}
#edit_form input[name="edit_pole_9"] {
	width: 70px;
}
#edit_form input[name="edit_pole_10"] {
	width: 100px;
}


#form_print{
	text-align: center;
	font-size: 14px;
	margin: 10px 10px 30px 10px;
	width: 800px;
}

#form_print hr {
	margin-bottom: 40px;
}

#form_print table{
	margin: auto;
}

#form_print th {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

#form_print th, #form_print td {
	border-left: 1px solid #000;
	padding: 10px;
}

#form_print tr > td:last-child, #form_print tr > th:last-child{
	border-right: 1px solid #000;
}

#form_print tr td {
	border-bottom: 1px solid #000;
}



.input_text {
	width: 100px;
	font-size: 16px;
	padding: 5px;
	margin-top: 10px;
}

#admin {
	text-align: center;
	font-size: 18px;
	width: 220px;
	padding: 10px;
	border: 2px solid #000;
	margin: auto;
}

#admin input[type="submit"] {
	margin-top: 10px;
	background-color: #EE7942;
	padding: 5px;
	color: #fff;
	border-radius: 6px;
	border: 2px solid #000;
	cursor: pointer;
}

#admin input[type="submit"]:hover {
	border-radius: 12px;
}

.return_admin {
	display: inline-block;
	margin-left: 20px;
	position: absolute;
	font-size: 18 px;
}






