* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

ul {
    list-style: none;
}

a {
    color: #393939;
    text-decoration: none;
}


h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin: 20px 0 10px;
}

table, td, th {
    border: 1px solid #cecece;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    vertical-align: top;
    padding: 5px;
}

td {
    font-weight: normal;
}

body {
	font: 14px/20px Arial, sans-serif;
	width: 100%;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 75px;
	background: #0487D8;
}

.header h2 {
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

/* Middle
----------20px-------------------------------------------------------------------*/
.middle {
	border-left: 200px solid #F0F0F0;
	position: relative;
    padding: 10px 0 2px 0;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	
	margin-right: -100%;
}
.content {
	padding: 0 20px;
}

.article {
    margin-bottom: 20px;
}

.next_show {
    display: block;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 3px;
}

.short {
    width: 20px;
}

.edit_data {
    display: none;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 200px;
	position: relative;
	left: -200px;
    min-height: 700px;
}

#menu {
    padding: 0 10px 0;
}

#menu li:first-child {
    border-top: 1px solid;
}

#menu li {
    padding: 10px 0;
    border-bottom: 1px solid;
}

#menu li a {
    
}

.btn {
    padding: 3px;
}

.txt {
    height: 23px;
    width: 40px;
    padding-left: 3px;
}

.del {
    cursor: pointer;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 30px;
	background: #BFF08E;
}