#head, #wrapper, .lb, .z, .r-title, .z-comment, .b-add-cat, .b-add-cat-sp li, .isp, .a-isp, .isp-title, .search, .b-search-result, 
.b-search-result-in, .b-search, .profile, .file, .offers, .popup-in, .soc-ul li, .preim li {zoom:1;}
.icons, .inp1 {display:inline; zoom:1;}
body{width:expression((document.documentElement.clientWidth || document.body.clientWidth) < 990? "990px" : "100%");}
.packet{padding:25px 0 5px 0;}
* html #back { /* хак для ie6 */
height: 100%; /* для ие6, т.к. не понимает min-height */
}
.top .menu ul li
{
	behavior: expression(onmouseover = function() {this.className += ' hover'},onmouseout = function() {this.className = this.className.replace('hover', '')}, style.behavior = null );
}
.content .text .page
{top:-10px;}
.content .text .page .hot .info .price
{margin-Left:20px}
.content .text .page .form
{margin-top:-3px}
.content .right .login a
{ margin:4px 2px}
.content .right .misc
{top:-10px}
.content .right .vk
{top:-10px}
.content .text .page .hot .info a:hover
{background-position:-146.5px 0}
.content .text .page .hot .info .price
{ margin:21px 0 0 40px }