html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font,  ins, kbd, q, s, samp,
small, strike, strong,  tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend, caption
{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body
{ line-height: 1.3;}
blockquote, q
{ quotes: none; }
blockquote:before, blockquote:after,q:before, q:after
{ content: ''; content: none;}
:focus
{ outline: 0;}
ins
{ text-decoration: none;}
del
{ text-decoration: line-through;}

table, td, th {
    border: 1px solid #cecece;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    vertical-align: top;
    padding: 5px;
}

td {
    font-weight: normal;
}
html
{height: 100% ; width:100%}
body
{width:100%;height:100%;font-family: 'Calibri', 'arial', sans-serif; color:#333;  font-size:14px; background:url(../i/bg.png) repeat-x #005ab6; padding:15px 0   }
img
{border:0;}
.clr
{clear:both}
a
{color:#003161;}
a:hover
{text-decoration:none;}
 
.wrapper{
	width:960px; 
	min-height:100%;  
	margin:0 auto; 
	position:relative; 
	text-align:left;
	background:#fff;
	border-radius:30px;

	margin-bottom:15px
}

.top{
	height:370px;
	position:relative;
	margin:0 9px;
	 
}
a.logo{
	display:block;
	top:26px;
	left:13px;
	position:absolute;
	z-index:1000
}
.top .gerb{
	height:94px;
	padding:0 106px 0 0;
	background:url(../i/gerb.png) no-repeat top right;
	color:#4d4d4d;
	text-align:right;
	display:table-cell;
	vertical-align:middle;
	position:absolute;
	top:26px;
	right:13px;
	padding-top:30px;
	line-height:14px;
	z-index:11
}
.menu{

	margin:0 0 0 15px
 
}
.menu ul{
	list-style:none;
	padding:0;
	margin:0;

}
.menu ul li{
	float:left;
	height:37px;
	line-height:37px;
	margin:0 7px 0 0
	
}
.menu ul li.last{
 
}
.menu ul li a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	background:url(../i/menu.png) repeat-x ;
	display:block;
	height:37px;
	line-height:37px;
	border-radius:8px;
	padding:0 15px
}
.menu ul li:hover a, .menu ul li.active a{
	background:url(../i/menu.png) repeat-x   0 -37px;
}

.footer .www {
    background: rgba(0, 0, 0, 0) url("../i/orenlogo.png") no-repeat scroll 0 15px;
    top: -7px;
    display: block;
    font-size: 14px;
    line-height: 10px;
    margin: 15px 0 0;
    padding: 0 0 50px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-decoration: none;
    width: 124px;
}
h1, h2, h3{
	color:#003f9b;
	font-size:24px;
	font-weight:700;
	margin-bottom:15px
}
h2{
	font-size:20px;
    line-height: 22px;
}
h3{
	font-size:16px
}
.h1, .h2, .h3{
	color:#003f9b;
	font-size:24px;
	font-weight:700;
	margin-bottom:10px
}
.h2{
	font-size:20px
}
.h3{
	font-size:16px
}
h1.head{
 
	text-align:center;
	text-transform:uppercase


}
.left{
	width:220px;
	float:left
}
.right{
	width:220px;
	float:right
}
.sl2{
	position:absolute;
	right:2px;
	bottom:5px;
	z-index:10
}
.sl1{
	position:absolute;
	top:19px;
	left:16px
}
.left h3, .right h3{
	height:43px;
	line-height:43px;
		color:#fff;
	text-decoration:none;
	font-size:22px;
	text-align:center;
	background:url(../i/lb.png) no-repeat;
	font-weight:100;
	margin:0
}
.right h3{
	background:url(../i/rb.png) no-repeat
}
.block{
	background:#e6e6e6;
	font-size:16px;
	border-radius:6px;
	box-shadow:3px 3px 5px #ccc;
	margin:0 0 15px 0
}
.block p{
	padding:15px
}
.block a{
	color:#333;
	font-weight:700;
	text-decoration:none
}
.content{
	overflow: hidden;
	clear: both;
	padding:15px 0 0 0;
		padding:15px 13px 0;

}
.article{
	width:470px;
	float:left;
	line-height:20px;
	margin:5px 0 0 15px
}
.article table{
	margin-bottom:15px;
	width:100%
}

.article td{
	border:2px solid #067a00;
	padding:5px
}
.article table.none_bor td{
	border:none !important
}
.article ul{
	list-style:none;
	padding:0;
	margin:0
}
.article ul li{
	padding-left:12px;
	background:url(../i/li.gif) no-repeat 0 9px
}
.article p{
	padding-bottom:15px;
}

.footer_wrap{
	height:90px
}
.footer{
	height:86px;
	margin:0 auto;
	margin-top:-86px;
	position:relative;
}
.footer .wrap{
	width:960px;
	margin:0 auto;
	position:relative
}
.footer .logo_bot{
	float:left;
	margin:0 0 0 15px
}
.footer .copy{
	float:left;
	font-size:12px;
	color:#808080;
	margin-left:15px;
	margin-top:17px;
	line-height:13px
}

img.justifyleft{
	float:left;
	margin:15px 15px 15px 0
}
img.justifyright{
	float:right;
	margin:15px 0 15px 15px
}
.justifyleft{
	text-align:left
}
.justifyright{
	text-align:right
}
.justifyfull{
	text-align:justify
}
.gallery-item{
	float:left;
	margin:0 15px 15px 0;
	text-align:center
	
}
.gallery-item-img{
border:3px solid #fff ;
	box-shadow:0 0 5px #ccc	
}
.gallery-item-img img{
	display:block
}
.thumbs a{
	display:block;
	border:3px solid #fff ;
	box-shadow:0 0 5px #ccc	;
	float:left;
	margin:0 15px 15px 15px;
}
.thumbs a img{
	display:block
}
.form{
	background:#ccc;
	border-radius:10px  ;
	overflow:hidden;
	margin-bottom:10px
}
.form label{
	display:block;
	width:470px;
	height:30px;
	line-height:30px;
	text-align:center;
	
color:#000;
	font-size:150%;
	padding:0   0 0 ;
 
}
.form input, .form select{
    height: 30px;
    border: 1px solid #ABABAB;
    font-size: 16px;
    padding: 0 10px;
    font-family: Verdana, Geneva, sans-serif;
    margin: 10px auto;
    border-radius: 10px;
    width: 300px;
}

.form select {
    width: 322px;
    color: #777;
}

.form input[type=radio] {
    width: 20px;
    height: 20px;
}

.form textarea{
 
	width:450px;
	height:130px;
	font-size:16px;
	background:#e6e6e6;
	border:none;

		padding:10px;
		font-family:Verdana, Geneva, sans-serif;
		resize: none;   
}
.form .title{
	height:42px;
	background:url(../i/tit.png) repeat-x;
	line-height:41px;
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
	
}
.form p{
    position: relative;
    padding: 5px 20px;
    text-align: center;
}

.form input.sub{
    width: inherit;
    border: none !important;
    color: #fff;
    text-align: left;
    cursor: pointer;
    height: 37px;
    background: url(../i/menu.png) repeat-x;
}

.form input.sub:hover{
	background-position:0 -37px
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.errors{
	color:Red;
	margin-bottom:10px
}
img.none{
	display:none
}
.iradio_minimal{
	width:18px;
	height:18px;
	background:url(../i/radio.jpg) no-repeat;
	cursor:pointer;
	float:left;
	margin:0 10px 0 0
}
.iradio_minimal.checked{
	background-position:left -24px
}
#easypollform fieldset{
	padding:0 15px 15px 15px
}
#easypollform p{
	padding:15px 0
}
#easypollform .pollli{
	margin-bottom:5px
}
.pag{
	text-align:center;
	padding:15px 0
}
.pag a, .pag span{
	display:inli;
	padding:0 5px
}
.item_news{
	border-radius:10px;
	background:#e6e6e6;
	margin-bottom:15px
}
.item_news .pagetitle{
	background:#a3a3a3;
	font-size:20px;
	padding:10px;
	border-radius:10px 10px 0 0;
	color:#000
	
}
.item_news .date{
	padding:0 10px;
	font-size:12px
}
.item_news .img{
	text-align:center
}
.item_news  .introtext{
	padding:5px 10px
}
.slogan{
	position:absolute;
	left:20px;
	bottom:20px;
	z-index:100
}
/*Шаблоны

*----Меню по центру----*/
div.menu, div.menu ul { position:relative; }
div.menu  { float:right; right:50%; width:auto;    }
div.menu ul { float:none!important; float:left; right:-50%; }

#news_on_main {
    cursor: pointer;
}


.modal_prod_img {
    display: none;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

#lean_overlay {
    position: fixed;
    z-index: 200;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

#count_div {
	width: 210px;
	height: 135px;
	padding-left: 10px;
	
}

.count_uch {
	width: 190px;
	height: 25px;
	border-radius: 5px;
	background-color: #00409c;
	margin-top: 10px;
	padding-top: 5px;
	padding-left: 10px;
}

.close__ {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.sex_group {
	color: #fff;
	width: 200px;
}

.count {
	float: right;
	color:  #00409c;
	background-color: #e6e6e6;
	width: 40px;
	height: 20px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	margin-right: 8px;
}