@import "../../../../style/common/font-awesome/css/font-awesome.min.css?v=5.10.2";
body { background: #fff; }
input { margin: 0; }
input[type="radio"], input[type="checkbox"], label { cursor: pointer; }
input[name="newName"] { width: 98% !important; }
input[type="text"] { border: 1px solid #d3d3d3; background: #fff; padding: 2px; font-size: 1.5rem; margin: 0; outline-width: 0; }
input[type="text"]:hover { box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
input[type="text"]:focus { border-color: #3687e2; box-shadow: 0 0 3px rgba(54, 135, 226, 1); -moz-box-shadow: 0 0 3px rgba(54, 135, 226, 1); -webkit-box-shadow: 0 0 3px rgba(54, 135, 226, 1); }
input[type="button"], input[type="submit"], input[type="reset"], button { font-size: 1.1rem; line-height: 2rem; color: #292b2c; background-color: #fff; border: 1px solid #d4d4d4; padding: 0.3rem 0.6rem; margin-left: 2px; display: inline-block; cursor: pointer; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover { color: #292b2c; background-color: #e6e6e6; border-color: #adadad }
input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button:focus { color: #292b2c; background-color: #e6e6e6; border-color: #adadad }
fieldset { margin: 0 5px 5px 0px; padding: 5px; border: 1px solid #dedede; cursor: default; }
fieldset td { white-space: nowrap; }
legend { margin: 0; padding: 0 3px; font-weight: bold; }
#folders { margin: 0; padding: 1rem 1rem 1rem .5rem; background: #fafafa; border: 0; border-right: 1px solid #dedede; border-bottom: 1px solid #dedede; }
#files { float: left; margin: 0 4px 0 0; background: #fafafa; border: 1px solid #dedede; border-left: 0; }
#files.drag { background: #ddebf8; }
#topic { padding-left: 12px; }
div.folders { margin-left: 1.7rem }
div.folder { white-space: nowrap; }
div.folder a { display: inline-block; text-decoration: none; cursor: default; outline: none; color: #000; }
span.folder { display: inline-block; font-size: 1.1rem; line-height: 1.2rem; padding: 2px 3px 2px 3px; outline: none; background: no-repeat 3px center; cursor: pointer; border: 1px solid transparent; }
span.brace { float: left; width: 1.6rem; height: 1.6rem; padding-left: 0; line-height: 1.9rem; font-size: 0; text-align: center; outline: none; }
span.current { background-color: #e4f0fa; border-color: #e4f0fa; color: #0e80cb; }
span.current:before { display: inline-block; font-family: 'Font Awesome 5 Free'; content: "\f07c"; width: 1.3em; font-size: 1.3rem; line-height: .8em; vertical-align: middle; color: #565656; }
span.regular { background-color: #f8f7f6; }
span.regular:before { display: inline-block; font-family: 'Font Awesome 5 Free'; content: "\f07b"; width: 1.3em; font-size: 1.3rem; line-height: .8em; vertical-align: middle; color: #565656; }
span.regular:hover, span.context { background-color: #ddebf8; border-color: #cee0f4; color: #000; }
span.opened:before { display: inline-block; font-family: 'Font Awesome 5 Free'; content: "\f107"; width: 1.3em; font-size: 1.3rem; line-height: .8em; vertical-align: middle; color: #565656; }
span.closed:before { display: inline-block; font-family: 'Font Awesome 5 Free'; content: "\f105"; width: 1.3em; font-size: 1.3rem; line-height: .8em; vertical-align: middle; color: #565656; }
span.denied:before { display: inline-block; font-family: 'Font Awesome 5 Free'; content: "\f05e"; width: 1.3em; font-size: 1.3rem; line-height: .8em; vertical-align: middle; color: #565656; }
div.file { padding: 4px; margin: 3px; border: 1px solid #aaa; background: #fff; }
div.file:hover { background: #ddebf8; border-color: #a7bed7; }
div.file .name { margin-top: 4px; font-weight: bold; height: 16px; overflow: hidden; }
tr.file td { font-size: 12px; }
/*
div.file .time { font-size: 10px; }
div.file .size { font-size: 10px; }
*/
#files div.selected, #files div.selected:hover { background-color: #5b9bda; border-color: #2973bd; color: #fff; }
tr.file > td { padding: 3px 4px; background-color: #f8f7f6 }
tr.file:hover > td { background-color: #ddebf8; }
tr.selected > td, tr.selected:hover > td { background-color: #5b9bda; color: #fff; }
#collapseSide { padding: 5px 0; display: inline-block; float: left; margin: 0 0 0 5px; }
#hide-side { display: inline-block; width: 20px; text-align: center; font-size: 1.3rem; color: #5a5a5a; background-color: transparent; border: none; padding: 0.7rem 0.6rem 0.4rem 0.6rem; margin: 0px; }
#hide-side i.fa:hover { color: #292b2c; }
#toolbar { min-width: 500px; padding: 5px 0 5px 0; display: block; margin-top: 2px; }
#toolbar a { font-size: 1.1rem; line-height: 2rem; color: #292b2c; background-color: #fff; border: 1px solid #d4d4d4; padding: 0.3rem 0.6rem; margin-left: 5px; display: block; float: left; }
#toolbar a:before { font-family: 'Font Awesome 5 Free'; font-size: 1.3rem; display: inline-block; padding-right: 3px; margin-top: 0px; vertical-align: top; color: #404040; font-weight: bold;}
#toolbar a:hover, #toolbar a.hover { color: #292b2c; background-color: #e6e6e6; border-color: #adadad }
#toolbar a.selected, #toolbar a.selected:before { background-color: #3687e2; border-color: #3687e2; color: #fff; }
#toolbar a[href="kcact:upload"] { color: #fff; background-color: #5cb85c; border-color: #56ac56 }
#toolbar a[href="kcact:upload"]:hover { color: #fff; background-color: #449d44; border-color: #419641 }
#toolbar a[href="kcact:upload"]:before { content: "\f093"; color: #fff; font-weight: bold;}
#toolbar a[href="kcact:refresh"]:before { content: "\f021"; font-weight: bold;}
#toolbar a[href="kcact:settings"]:before { content: "\f0ad"; font-weight: bold;}
#toolbar a[href="kcact:about"], #toolbar a:hover[href="kcact:about"] { border: none; padding: 0; background: transparent; }
#toolbar a[href="kcact:about"]:before { content: "\f05a"; font-weight: bold;}
#toolbar a[href="kcact:maximize"]:before { content: "\f2d0"; font-weight: bold;}
/*try to hide Maximize button except in popup*/
@media screen and (min-width: 840px) {
    #toolbar a[href="kcact:maximize"], #toolbar a[href="kcact:maximize"]:before { display: none; }
}
@media screen and (max-width: 780px) {
    #toolbar a[href="kcact:maximize"], #toolbar a[href="kcact:maximize"]:before { display: none; }
}
/*fake btn*/
#viewThumbs, #viewList { display: none; float: left; margin: 0 0px 0 -30px; }
label.radio-thumbs:before { display: block; float: left; font-family: 'Font Awesome 5 Free'; font-size: 1.4rem; line-height: 1.6rem; vertical-align: middle; content: "\f00a"; color: #292b2c; background-color: #fff; border: 1px solid #d4d4d4; padding: 0.5rem 0.6rem; margin-left: 5px; font-weight: bold;}
label.radio-list:hover:before, label.radio-thumbs:hover:before { color: #292b2c; background-color: #e6e6e6; border-color: #adadad }
label.radio-list.labelchecked:before, label.radio-thumbs.labelchecked:before { background-color: #3687e2; border-color: #3687e2; color: #fff; }
label.radio-list:before { display: block; float: left; font-family: 'Font Awesome 5 Free'; font-size: 1.4rem; line-height: 1.6rem; vertical-align: middle; content: "\f03a"; color: #292b2c; background-color: #fff; border: 1px solid #d4d4d4; padding: 0.5rem 0.6rem; margin-left: 5px; font-weight: bold; }
input[type=checkbox] + label { color: #ccc; font-style: italic; }
input[type=checkbox]:checked + label { color: #f00; font-style: normal; }
#settings { background: #fff; padding: 5px; }
.box { width: 500px; }
.box, #loading, #alert { padding: 5px; border: 1px solid #3687e2; background: #fff; }
.box, #alert { padding: 8px; border-color: #fff; -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 1); -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 1); box-shadow: 0 0 4px rgba(255, 255, 255, 1); }
#loading { background-image: url(img/loading.gif); font-weight: bold; margin-right: 4px; box-shadow: 0 0 3px rgba(54, 135, 226, 1); -moz-box-shadow: 0 0 3px rgba(54, 135, 226, 1); -webkit-box-shadow: 0 0 3px rgba(54, 135, 226, 1); }
#alert div.message, #dialog div.question { padding: 0 0 0 40px; }
#alert { background: #ff6347 url(img/alert.png) no-repeat 8px 29px; }
#dialog div.question { background: transparent url(img/confirm.png) no-repeat 0 0; }
#alert div.ok, #dialog div.buttons { padding-top: 5px; text-align: right; }
.menu { min-width: 180px; padding: 3px; border: 1px solid #dedede; background: #fff; opacity: 0.95; }
.menu a { font-size: 1.2rem; text-decoration: none; padding: 4px 4px 4px 4px; color: #000; margin: 0; outline: none; border: 1px solid transparent; }
.menu a:before { font-family: 'Font Awesome 5 Free'; font-size: 1.4rem; display: inline-block; width: 1.3rem; padding-right: 4px; margin-top: 0px; text-align: center; vertical-align: top; color: #404040; }
.menu .delimiter { border-top: 1px solid #acaaa7; padding-bottom: 3px; margin: 3px 2px 0 2px; }
.menu a:hover { background-color: #0e80cb; color: #fff; }
.menu a:hover:before { color: #fff; }
.menu a[href="kcact:refresh"]:before { content: "\f021"; font-weight: bold;}
.menu a[href="kcact:mkdir"]:before { content: "\f114"; font-weight: bold;}
.menu a[href="kcact:mvdir"]:before, .menu a[href="kcact:mv"]:before { content: "\f246"; font-weight: bold;}
.menu a[href="kcact:rmdir"]:before, .menu a[href="kcact:rm"]:before, .menu a[href="kcact:rmcbd"]:before { content: "\f1f8"; font-weight: bold;}
.menu a[href="kcact:clpbrdadd"]:before { content: "\f0ea"; font-weight: bold;}
.menu a[href="kcact:pick"]:before, .menu a[href="kcact:pick_thumb"]:before { content: "\f00c"; font-weight: bold;}
.menu a[href="kcact:download"]:before { content: "\f019"; font-weight: bold;}
.menu a[href="kcact:view"]:before { content: "\f06e"; font-weight: bold;}
.menu a[href="kcact:cpcbd"]:before { content: "\f24d";font-weight: bold; }
.menu a[href="kcact:mvcbd"]:before { content: "\f047"; font-weight: bold;}
.menu a[href="kcact:clrcbd"]:before { content: "\f12d"; font-weight: bold;}
a.denied { color: #666; opacity: 0.5; filter: alpha(opacity:50);
    cursor: default; }
a.denied:hover { background-color: #e4e3e2; border-color: transparent; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
#dialog { -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
#dialog input[type="text"] { margin: 5px 0; width: 200px; }
#dialog div.slideshow { border: 1px solid #000; padding: 5px 5px 3px 5px; background: #000; -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 1); -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 1); box-shadow: 0 0 8px rgba(255, 255, 255, 1); }
#dialog img { padding: 0; margin: 0; background: url(img/bg_transparent.png); }
#loadingDirs { padding: 5px 0 1px 24px; }
.about { text-align: center; }
.about div.head { font-weight: bold; font-size: 12px; padding: 3px 0 8px 0; }
.about div.head a { background: url(img/kcf_logo.png) no-repeat left center; padding: 0 0 0 27px; font-size: 17px; }
.about a { text-decoration: none; color: #05f; }
.about a:hover { text-decoration: underline; }
.about button { margin-top: 8px; }
#clipboard { padding: 0 4px 1px 0; }
#clipboard div { background: url(img/icons/clipboard.png) no-repeat center center; border: 1px solid transparent; padding: 1px; cursor: pointer; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#clipboard div:hover { background-color: #bfbdbb; border-color: #a9a59f; }
#clipboard.selected div, #clipboard.selected div:hover { background-color: #c9c7c4; border-color: #3687e2; }
#checkver { padding-bottom: 8px; }
#checkver > span { padding: 2px; border: 1px solid transparent; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#checkver > span.loading { background: url(img/loading.gif); border: 1px solid #3687e2; box-shadow: 0 0 3px rgba(54, 135, 226, 1); -moz-box-shadow: 0 0 3px rgba(54, 135, 226, 1); -webkit-box-shadow: 0 0 3px rgba(54, 135, 226, 1); }
#checkver span { padding: 3px; }
#checkver a { font-weight: normal; padding: 3px 3px 3px 20px; background: url(img/icons/download.png) no-repeat left center; }
div.title { overflow: auto; text-align: center; margin: -3px -5px 5px -5px; padding-left: 19px; padding-bottom: 2px; border-bottom: 1px solid #bbb; font-size: 2rem; cursor: move; }
.about div.title { cursor: default; }
span.close, span.clicked { float: right; width: 19px; height: 19px; background: url(img/icons/close.png) no-repeat; margin-top: 0px; cursor: pointer; }
.selectThis { padding: 6px 0; border-radius: 2px; background: #eee; color: #4ea94e; cursor: pointer; text-transform: uppercase; }
.selectThis:hover { background-color: #fff; }
.pull-right { position: absolute; }
.pull-right a { color: #bbb !important; }
div.file .thumb { background-size: contain; }
div.file .skipthumb { background-size: auto; }
.rangeTextContainer, .rangeThumbContainer { display: inline-block; padding: 0.4rem 0.4rem 0.2rem 0.4rem; margin-left: 2px; }
.hiddenrange { display: none }
.thumbsize, .textsize { display: inline-block; margin-left: 10px; }
input[type=range]::-moz-range-track { margin-top: 2px; }